<configuration>
  <system.webServer>    
	<iisnode nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" loggingEnabled="false" devErrorsEnabled="false"/>
	<httpErrors existingResponse="PassThrough" />	
    <handlers>
      	<add name="iisnode1" path="server.js" verb="*" modules="iisnode" />
	<add name="NtvsDebugProxy" path="ntvs-debug-proxy/b855eacd-ddf4-4ffc-bee5-9a71981a395f" verb="*" resourceType="Unspecified" type="Microsoft.NodejsTools.Debugger.WebSocketProxy, Microsoft.NodejsTools.WebRole"/>	
    </handlers>    
	<rewrite>
      <rules>		
        <rule name="nodejs1">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
	<rule name="NtvsDebugProxy" enabled="false" stopProcessing="false">
          <match url="^ntvs-debug-proxy/.*"/>
        </rule>
      </rules>
    </rewrite>    
  </system.webServer>
</configuration>